.tagview {

  tagselector {
    div {
      margin: 10px;
    }
  }

  p.desc-tagselector {

    margin-top: 10px;

    margin-left: 10px;

    margin-right: 10px;

    margin-bottom: 0px;

    text-decoration: underline;

  }

}
